div {
  display: flex;
  justify-content: space-between;
}

.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 350px;
  margin-top: 40px;
}

.column1 {
  margin-left: 20px;
  padding: 0px, 10px, 0px, 0px;
}

form {
  justify-content: space-between;
  height: 1030px;
  width: 630px;
  font-variant-caps: all-small-caps;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #4682b4;
}

input,
select,
option {
  font-size: 14px;
  background-color: #4682b4;
  border: 2px solid white;
  color: white;
}

#bio,
#aff,
#comm {
  padding-bottom: 60px;
}

